

body {
	background-color: #3c071b;
	color: white;
	font-family: "Atkinson Hyperlegible Next", sans-serif;
	margin: 1em auto;
	max-width: 60em;
	padding: 0 4em;
}

a {
	color: #FF9999;
}

a:visited {
	color: #ff99cc;
}

a:focus, a:hover {
	color: #FF3333;
}

a:active {
	color: #ffbc40;
}

pre, code, textarea, .sn, time, data {
	font-family: "Atkinson Hyperlegible Mono", monospace;
}

.buttons img, .buttons {
	image-rendering: pixelated;
}

.comment {
	opacity: 0.5;
}

.home {
	padding: 0.5em 1em;
	margin: 1em;
	display: inline-block;
	border: 2px solid;
	
}